.user-item {
    border: 1px solid !important;
    border-radius: 15px !important;
    background-color: antiquewhite !important;
    padding: 5px 15px !important;
    margin: 10px 0;
}
.user-item .user-item-button{
    background-color: beige;
    border-radius: 8px;
    border: none;
    transition: box-shadow 0.15s ease ;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.7);
    color: black;
    &:hover{
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.7);
        color: black !important;
        background-color: rgb(255, 255, 255) !important;
        transform: scale(1.1) !important;
    }
    /* Bóng đổ khi active (được nhấn giữ) */
    &:active {
        background-color: white !important;
        
        color:  black !important;
    }
}